.card
  .card-header
    .fa.fa-graduation-cap
    = link_to course.title, course_path(course)
  
  -#- if course.image.attached?
    -#.card-img-top
      -#= image_tag course.image, height: "200px", width: "100%"
  - if course.video.attached?
    .card-img-top
      - if course.video_thumbnail.attached?
        %video(controls="true" controlslist="nodownload" poster="#{url_for course.video_thumbnail}" width="100%" preload="metadata" oncontextmenu="return false;")
          %source{src: rails_blob_url(course.video), type:"#{course.video.content_type}"}
      - else
        %video(controls="true" width="100%" preload="metadata" controlslist="nodownload" oncontextmenu="return false;" )
          %source{src: rails_blob_url(course.video), type:"#{course.video.content_type}"}
        /VIDEO-JS VIDEO
        /= content_tag :video, id: 'my-video' do
        /= tag :source, src: url_for(course.video), type: course.video.content_type
  .card-body
    %small= course.rich_text_description
  .card-footer
    .text-center
      = number_to_currency(course.price)
  .card-footer
    .row
      .col-md-6
        .fa.fa-globe-africa
        = course.language
      .col-md-6
        .text-right
          .fa.fa-signal
          = course.level
  .card-footer
    .row
      .col-md-6
        .far.fa-clock
        = course.created_at.strftime('%d-%b-%Y')
      .col-md-6
        .text-right
          .fa.fa-chalkboard-teacher
          = course.user.username
  .card-footer
    = link_to 'Show', course, class: 'btn btn-sm btn-primary'
    - if policy(course).edit?
      = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning'
      = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'